body {
  font-family: system-ui, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  color: #222;
  line-height: 1.6;
}

h1 {
      margin: 0 auto;
      font-size: 2.5rem;
      max-width: 700px;
      line-height: 1.1em;
      margin-bottom: 3rem;
      text-align: center;
}

nav {
      margin-bottom: 3rem;
    }
    .nav-grid {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      padding: 0;
      margin: 0;
      list-style: none;
      padding-inline-start: 0px !important;
    }
    .nav-grid li {
      margin: 0;
    }
    .nav-grid a {
      display: inline-block;
      padding: 0.5rem 0.75rem;
      background-color: #e0e7ff;
      border-radius: 6px;
      text-decoration: none;
      color: #277BF8;
      font-size: 0.95rem;
      transition: background-color 0.2s;
      width: 150px;
      text-align: center;
    }
    .nav-grid a:hover {
      background-color: #d0ddff;
    }
    main {
      max-width: 800px;
      margin: 2rem auto;
      padding: 0 1.5rem;
    }
    section {
      margin-bottom: 4rem;
    }
    h2 {
      font-size: 1.8rem;
      margin-bottom: 1.2rem;
      line-height: 1em;
    }
    h3 {
      margin-bottom: 0.5rem;
      line-height: 1.1em;
      margin-top: 1.5rem;
    }
    p, ul {
      margin-top: 0;
      margin-bottom: 1rem;
    }
    p {
      margin-bottom: 0.4rem;
    }
    ul {
      padding-left: 0!important;
      padding-inline-start: 24px!important;
      margin-top: -0.5rem;
      margin-bottom: 0.5rem;
    }
    ol {
      margin-top: -0.5rem;
      padding-inline-start: 24px!important;
    }
    li {
      line-height: 1.4em;
      padding-bottom: 0.5rem;
    }
    a {
      color: #277BF8;
      white-space: nowrap;
    }
    .appointment {
      margin-bottom: 2rem;
    }
    .working-hours {
      margin-top: 0.8rem;
    }
.illustration {
  display: flex;
  justify-content: center;
  align-items: center;
}

.illustration img {
  max-width: 100%;
  max-height: 300px;
  width: auto;
  height: auto;
  display: block;
}

@media (min-width: 768px) {
  .illustration img {
    max-width: 75%;
    max-height: 300px;
  }
}


    @media (max-width: 600px) {
      header h1 {
        font-size: 1.8rem;
      }
      header p {
        font-size: 1rem;
      }
      h2 {
        font-size: 1.5rem;
      }
    }
    @media (max-width: 768px) {
      .nav-grid {
        justify-content: center;
      }
    }

a, 
a u {
  text-decoration: underline;
  text-decoration-thickness: 1px; 
  text-underline-offset: .175em; 
  text-decoration-color: rgb(39 123 248 / 20%);
}

a:has(u) {
  text-decoration: none;
}

a:hover,
a:hover u {
  text-decoration-color: currentColor;
}

p, li {
  text-wrap: pretty;
}